{% load staticfiles %}

<header class="header container-fluid">
    <div class="row admin-head">
        <div class="admin-logo col-lg-11">
            <img src="{% static 'images/DF Logo.svg' %}" alt="" width="20px" height="20px" class="mr-2">
            <a href="./home.html" class="admin-logo__h3">ADMIN BOARD</a>
        </div>

        <div class="admin-logout col-lg-1">
            <a href="{% url 'adminboard:logoutAdmin' %}" class="btn btn--logout">Logout</a>
        </div>
    </div>
</header>