<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="DataFlow | Candidate Testing Portal">
    {% load staticfiles %}
    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/DF Logo.svg' %}">

    <!-- CDN CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/admin_home.css' %}">

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/11dafce953.js" crossorigin="anonymous"></script>

    <title>DataFlow | Admin Board</title>
</head>
<body>
    <noscript>
        Your Browser's JavaScript has been turned off kindly enable it.
    </noscript>

    {% include 'adminboard/header.html' %}

    {% if email in authorized_admin %}
    <main class="board container-fluid">
        
        {% include 'adminboard/aside.html' %}

        <div class="screen">

            <div class="screen__card">
                <div class="card">
                    <p class="card__p">Total Credentials</p>
                    <h2 class="card__h2">{{ candidate_count }}</h2>
                    <span class="card__ico"><i class="fas fa-user"></i></span>
                </div>
                <div class="card">
                    <p class="card__p">Pending Submissions</p>
                    <h2 class="card__h2">{{ pending_submissions_count }}</h2>
                    <span class="card__ico"><i class="fas fa-hourglass-half"></i></span>
                </div>
                <div class="card">
                    <p class="card__p">Shortlisted</p>
                    <h2 class="card__h2">{{candidate_shortlisted_count}}</h2>
                    <span class="card__ico"><i class="fas fa-tasks"></i></span>
                </div>
            </div>

            <div class="tab mt-5">
                <ul class="tabs-nav">
                    <span class="back-span back-span__home"></span>
                    <li class="tab-items" data-id="pending">Pending</li>
                    <li class="tab-items" data-id="shortlisted">Shortlisted</li>
                </ul>
            </div>

            <div class="pending screen__table mt-5">
                <div class="screen__table__top">
                    <h3 class="table-title">Pending For Test</h3>
                </div>

                <table class="table" id="pTable">
                    <thead>
                        <tr>
                            <th scope="row">#</th>
                            <th scope="row">Name</th>
                            <th scope="row">Email</th>
                            <th scope="row">Phone</th>
                            <th scope="row">Profile</th>
                            <th scope="row">Team</th>
                            <th scope="row">Location</th>
                            <th scope="row">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in pending_submissions %}
                        <tr>
                            <td scope="row">{{ forloop.counter }}</td>
                            <td>{{ i.fullname }}</td>
                            <td>{{ i.email }}</td>
                            <td>{{ i.phone }}</td>
                            <td>{{ i.designation }}</td>
                            <td>{{ i.team }}</td>
                            <td>{{ i.location }}</td>
                            <td>{{ i.selectionstatus }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="shortlisted hidden screen__table mt-5">
                <div class="screen__table__top">
                    <h3 class="table-title">Shortlisted Candidates</h3>
                </div>

                <table class="table" id="sTable">
                    <thead>
                        <tr>
                            <th scope="row">#</th>
                            <th scope="row">Name</th>
                            <th scope="row">Email</th>
                            <th scope="row">Phone</th>
                            <th scope="row">Profile</th>
                            <th scope="row">Team</th>
                            <th scope="row">Score</th>
                            <th scope="row">Resume</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in candidate_shortlisted %}
                        <tr>
                            <td scope="row">{{ forloop.counter }}</td>
                            <td>{{ i.fullname }}</td>
                            <td>{{ i.email }}</td>
                            <td>{{ i.phone }}</td>
                            <td>{{ i.designation }}</td>
                            <td>{{ i.team }}</td>
                            <td>{{ i.score }}%</td>
                            <td><a href="/media/{{ i.resume }}">Resume</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    {% else %}
        <h1>You do not have admin rights.-{{first_name}}</h1>
    {% endif %}

    <!-- Script
    ------------------------>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <!-- <script src="../assets/js/inspect.js"></script>s -->

    <script>
        const email = `{{ email }}`;
    </script>
    <script src="{% static 'js/admin/admin.js' %}"></script>
    <script src="{% static 'js/admin/tab.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#sTable').DataTable();
            $('#pTable').DataTable();
        });
    </script>
</body>
</html>