{% extends "application/base_login.html" %}
{% load staticfiles %}

{% block head %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}SignUp | Candidate Portal{% endblock %}

{% block body %}

<div class="signup-section">
    <h4>Create an account on Candidate Portal</h4>
    <p>Please check your mail for login credentails after signing up</p>

    <form action="{% url 'application:postsignup' %}" method="POST" class="signup-form form cred-form" id="credForm" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="signup-form-section">
            <div class="form-div">
                <label for="" class="form-label">Full Name</label>
                <input type="text" name="fullName" class="form-elem form-elem--name" data-id="name" autocomplete="off" placeholder="John Doe">
                <span class="note"></span>
            </div>

            <div class="form-div">
                <label for="" class="form-label">Username</label>
                <input type="text" name="username" class="form-elem form-elem--user" data-id="username" autocomplete="off" placeholder="johndoe">
                <span class="note"></span>
            </div>

            <div class="form-div">
                <label for="" class="form-label">Password
                </label>
                <input type="password" name="password" class="form-elem form-elem--pass" data-id="pass" autocomplete="off" placeholder="********">
                <span class="note"></span>
            </div>

            <div class="form-div">
                <label for="" class="form-label">Email</label>
                <input type="text" name="email" class="form-elem form-elem--email" data-id="email" autocomplete="off" placeholder="john.doe@gmail.com">
                <span class="note"></span>
            </div>

            <div class="form-div">
                <label for="" class="form-label">Phone Number</label>
                <input type="number" name="phone" class="form-elem form-elem--mobile" data-id="mobile" maxlength='10' minlength='10' autocomplete="off" placeholder="9876543210">
                <span class="note"></span>
            </div>

            <div class="form-div">
                <label for="" class="form-label">Date of Birth</label>
                <input type="" name="dob" class="form-elem form-elem--dob form-control" id="dob" data-id="dob" autocomplete="off" placeholder="mm/dd/yyyy">
                <span class="note"></span>
            </div>

            <div class="form-div">
                <label for="" class="form-label">Location</label>
                <select name="location" id="location" class="form-elem custom-select" data-id="location">
                    <option value="">--select location--</option>
                    <option value="Noida">Noida</option>
                    <option value="Jordan">Jordan</option>
                    <option value="Manila">Manila</option>
                    <option value="Bangkok">Bangkok</option>
                    <option value="Dubai">Dubai</option>
                    <option value="Hyderabad">Hyderabad</option>
                    <option value="KSA">KSA</option>
                    <option value="Qatar">Qatar</option>
                    <option value="Singapore">Singapore</option>
                    <option value="Mumbai">Mumbai</option>
                    <option value="UK">UK</option>		
                </select>
                <span class="note"></span>
            </div>

            <div class="form-div">
                <label for="" class="form-label">Source</label>
                <select name="source" id="source" class="form-elem custom-select" data-id="source">
                    <option value="">--select source--</option>
                    <option value="Referral">Referral</option>
                    <option value="Direct Sourcing">Direct Sourcing</option>
                    <option value="Consultant">Consultant</option>
                    <option value="Social Media">Social Media</option>
                </select>
                <span class="note"></span>
            </div>

            <div class="form-div hidden">
                <label for="" class="form-label">Referral ID</label>
                <input type="text" name="referral" class="form-elem form-elem--refer" data-id="referral" autocomplete="off">
                <span class="note"></span>
            </div>

            <div class="form-div position-relative">
                <label class="form-label">Upload Resume (pdf only)</label>
                <input type="file" name="resume" class="custom-file-input form-elem form-elem--resume" id="customFile resume" data-id="resume" accept=".pdf">
                <label class="custom-file-label form-elem" for="customFile" data-id="dResume">Choose file</label>
                <span class="note"></span>
            </div>
        </div>
        <div class="form-bottom mt-4">
            <button type="submit" class="btn--primary" id="register">Register</button>
            <p class="goto-login">Already have an account? <a href="{% url 'application:applogin' %}">Login</a></p>
        </div>
    </form>
</div>

{% endblock %}

{% block script %}
<script>


    // Datepicker
    $('#dob').datepicker();

    //File upload name
    $(".custom-file-input").on("change", function() {
        let fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
<script src="{% static 'js/user/validation.js' %}"></script>
{% endblock %}